$topNavBarHeight: 64px;

.topFixed {
    position: fixed;
    width: 100%;
    top: 0;
}

.wallpaper {
    margin-top: $topNavBarHeight;
    height: 400px;

    background-image: url('/assets/image/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.eventList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    width: 100%;
    background-color: #f8f7fa;
    padding: 128px 32px;

}

.bottomFooter {
    width: 100%;
}

