$topNavBarHeight: 64px;

.topFixed {
    position: fixed;
    width: 100%;
    top: 0;
}

.wallpaper {
    margin-top: $topNavBarHeight;
    height: 400px;

    background-image: url('/assets/image/wallpaper.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mainContent {
    width: 100%;
}

.bottomFooter {
    width: 100%;
}

